

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf);
}

/* Style the navbar */
#navbar{
  overflow: hidden;
  background-color: #288bfc;
border-radius: 4px;
  
}

.btn{

  display: inline-block;
  padding: 3px 3px;
  background-color: #444;
  color: #FFF;
  border: 1px solid #222;
  border-radius: 4px;
  text-decoration: none;
  font-family: arial, verdana, sans-serif;
  font-size: 10px;

}


/* Navbar links */
.navbar{
  border-bottom:1px solid #ddd;
  float: left;
  display: block;
  
  text-align: left;
 
text-decoration: none;

}





/* Page content */
.content {
  padding: 16px;
  
}
